*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-track{
    background-color: rgb(233, 226, 226);
}
::-webkit-scrollbar-thumb{
    background-color: #fd951e;
}
body{
    position: relative;
}
#optionbutton{
    display: none;
    font-size: 30px;
}
.optionsresponsive{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    display: none;
}
#removebar{
    position: fixed;

    left: 0;
    top: 0%;
    font-size: 30px;
    color: red;  
    border: solid red;
    border-radius: 50px;
}
.optionsresponsive ul{
    position: fixed;
    top: 10%;
    left:50%;
    right: 50%;
   
}
.optionsresponsive ul li{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;   
}
.optionsresponsive ul li a{
    text-decoration: none;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:black;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.left{
    display: flex;
    justify-content: space-between;
}
.left img{
    max-width: 200px;
}
.middle{
    
}
.middle ul{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}
.middle ul li{
    list-style: none;
    padding-left: 50px;
}
.middle ul li a:hover{
    color: #fd951e;
    font-weight: 500;
}
.middle ul li a{
    text-decoration: none;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(67, 88, 137);
}
.right button{
    height: 55px;
    width: 170px;
    background: linear-gradient(to right, #feb73c, #fd951e);
    border: none;
    border-radius: 30px;
   }
   .right button:hover{
    background: linear-gradient(to right, #fd951e, #ecaf46);
    transition: transform ease 1s;
    transform: scale(1.1);
   }
   .right button a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .right i{
    font-size: 19px;
    color: white;
    margin-right: 10px;
   }
   .blog{
    text-align: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px  orange ;
   font-size: 20px;
   color: rgb(39, 42, 40);
   font-weight: 500;
   }
   .news{
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: black;
   }
   .card{
    display: grid;
    grid-template-columns: auto auto auto;
    
    justify-content: space-evenly;
    margin-top: 100px;
    
   }
   .leftcard{
    display: flex;
    max-width: 400px;
   }
   .button{
    display: flex;
    border: none;
    background-color: rgb(248, 241, 241);
    box-shadow: 7px 7px 5px  rgb(245, 243, 243),-5px -5px 7px  rgb(239, 236, 236),-5px 5px 7px  rgb(226, 225, 225),5px -5px 7px  rgb(245, 243, 243);
    border-radius: 30px;
    
    }
.button a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color:orange;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-left: 30px;
}
.button p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color:rgb(88, 87, 87);
    font-weight: 400;
    justify-content: center;
    align-items: center;
   padding-top: 10px;
    padding-right: 30px;
}
.leftcard2{
    text-align: center;
    text-wrap: wrap;
    max-width: 250px;
}
.leftcard2-2{
    max-width:400px ;
}

   .leftcard1 img{
    max-width: 200px;
    border-radius: 20px;
    margin-right: 35px;
    margin-top: 35px;

   }
.explain{
    padding-top: 30px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
} 
.buttonend{
    display: flex;
    border: none;
    background-color: rgb(248, 241, 241);
    box-shadow: 7px 7px 5px  rgb(245, 243, 243),-5px -5px 7px  rgb(239, 236, 236),-5px 5px 7px  rgb(226, 225, 225),5px -5px 7px  rgb(245, 243, 243);
    border-radius: 30px;
}
.buttonend a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color:orange;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 50px;
}
.buttonend p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color:rgb(88, 87, 87);
    font-weight: 400;
    justify-content: center;
    align-items: center;
   padding-top: 5px;
    padding-right: 60px;
}
.hidegrid{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    display: none;
}
#hidecard{
    display: none;
}
.newcard{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#loadmore{
padding: 12px;
padding-left: 50px;
padding-right: 50px;
border: none;
background: linear-gradient(to right, rgb(37, 66, 37), rgb(95, 152, 95));
border-radius: 30px;
color: white;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
}
#loadmore:hover{
    background:linear-gradient(to right, rgb(95, 152, 95), rgb(37, 66, 37)) ;
    transition: transform ease 1s;
    transform: scale(1.1);
}
.lastsection{
   display: flex;
   justify-content: center;
   margin-top: 200px;
   
}
.lastsectionmanage{
    width: 78%;
    background-color: rgb(244, 242, 242) ;
    border-radius: 30px;
    position: relative;
    padding: 120px;
}
#pencil{
    position: absolute;
    top: 15px;
    left: 300px;
}
#sign{
    position: absolute;
    left: 300px;
    top: 50px;
}
#person{
    position: absolute;
    top: -200px;
    left: 350px;
    right: 350px;
    max-width: 2000px;
    /* max-width: 700px; */
}
#radio{
    position: absolute;
    bottom: -100px;
    right: 400px;
   
}
#hand{
    position: absolute;
    right: 0;
    bottom: 50px;
}
.lastsectionflex{
    width: 100%;
    display: flex;
    justify-content: space-between;
   align-items: center;
   
}
.lastsectionleft{
    margin-left: 40px;
}
.lastsectionright{
  margin-right: 40px;
  margin-bottom: 200px;
}
.lastsectionp1{
   
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px  orange ;
   font-size: 20px;
   color: rgb(39, 42, 40);
   font-weight: 500;
   margin-bottom: 20px;
   }
.lastsectionp2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 25px;
}
.lastsectionp3{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(91, 103, 130);
    margin-bottom: 25px;
}
.lastsectionbutton{
    padding: 15px;
padding-left: 50px;
padding-right: 50px;
border: none;
background: linear-gradient(to right, rgb(37, 66, 37), rgb(121, 173, 121));
border-radius: 30px;
color: white;
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
}
.lastsectionbutton:hover{
    background: linear-gradient(to right, rgb(121, 173, 121) ,rgb(37, 66, 37));
    transition: transform ease 1s;
    transform: scale(1.1);  
}
.lastsectionp1-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}.lastsectionp2-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 800;
   
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: solid rgb(181, 179, 179);border-width: 1px;
}
.lastsectionp3-3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(33, 33, 33);
    margin-bottom: 30px;
}
.lastsectionbutton2{
    border: none;
background: linear-gradient(to right, rgb(37, 66, 37), rgb(121, 173, 121));
border-radius: 30px;
color: white;
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
position: absolute;
padding-top: 17px;
padding-bottom: 17px;
padding-right: 50px;
right: 100px;

}
.lastsectionbutton2:hover{
    background: linear-gradient(to right, rgb(121, 173, 121) ,rgb(37, 66, 37));
    transition: transform ease 1s;
    transform: scale(1.1);
}
.lastsectionbutton2 i{
   color: white; 
     font-size: 20px; 
    margin-left: 40px;
    margin-right: 20px;
}
.footer{
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}
.footerlogo{
    max-width: 430px;
}
.footerlogo img{
max-width: 200px;
width: 100%;
margin-bottom: 30px;
}
.footerlogo p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(93, 107, 133);
    font-weight: 500;
    font-size: 17px;
}
.footerline{
    margin-bottom: 30px;
    border-top: solid rgb(198, 203, 231);
    border-width: 1px;
    margin-top: 80px;
}
.footerlogos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footerleft p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(93, 107, 133);
    color: rgb(93, 107, 133);
    font-weight: 500;
    font-size: 17px;
}
.footermiddle img{
   width: 20px;
   margin-left: 30px;
   
}
.footerright{
    display: flex;   
}
.footerright p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(93, 107, 133);
color: rgb(93, 107, 133);
font-weight: 500;
font-size: 17px;
margin-left: 30px;
}
@media(max-width:480px){
    .optionsresponsive ul li a:hover{
        color: #fd951e;
    }
    #optionbutton{
        font-size: 30px;
        display: block;
        margin-top: 10px;
    }
    .optionsresponsive{
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color:white;
        
    }
    #removebar{
        position: absolute;
        left: 30px;
        top: 3%;
        font-size: 40px;
        
    }
    .optionsresponsive ul{
        position: absolute;
        top: 10%;
        left:50%;
        right: 50%;
        margin-top: 40px;
       
    }
    .optionsresponsive ul li{
        list-style: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;   
    }
    .optionsresponsive ul li a{
        text-decoration: none;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        color:black;
        border-bottom: solid rgb(135, 134, 132);

    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        max-width: 300px;
    }
    .left{
        display: flex;
        justify-content: space-between;
    }
    .left img{
        max-width: 180px;
    }
    .middle{
      display: none;  
    }
    .middle ul{
        display: flex;
        margin-left: 50px;
        margin-top: 20px;
    }
    .middle ul li{
        list-style: none;
        padding-left: 50px;
    }
    .middle ul li a{
        text-decoration: none;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: rgb(67, 88, 137);
    }
    .right button{
        height: 35px;
        width: 100px;
        background: linear-gradient(to right, #feb73c, #fd951e);
        border: none;
        border-radius: 30px;
        display: none;
       }
       .right button a{
        text-decoration: none;
        color: white;
        font-size: 17px;
        font-weight: 500;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
       .right i{
        font-size: 19px;
        color: white;
        margin-right: 10px;
       }
       .card{
        display: grid;
        grid-template-columns: auto ;
        text-align: center;
        margin-top: 100px;
        
       }
       .leftcard{
        flex-direction: column;
        max-width: 300px;
        gap: 20px;
       }
       
       .button{
        display: flex;
        border: none;
        background-color: rgb(248, 241, 241);
        box-shadow: 7px 7px 5px  rgb(245, 243, 243),-5px -5px 7px  rgb(239, 236, 236),-5px 5px 7px  rgb(226, 225, 225),5px -5px 7px  rgb(245, 243, 243);
        border-radius: 30px;
        
        }
    .button a{
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color:orange;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-left: 30px;
    }
    .button p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        color:rgb(88, 87, 87);
        font-weight: 400;
        justify-content: center;
        align-items: center;
       padding-top: 10px;
        padding-right: 30px;
    }
    .leftcard2{
        text-align: center;
        text-wrap: wrap;
        max-width: 300px;
    }
    .leftcard2 button{
        max-width: 300px;
        margin-left: 10%;
       
    }
    .leftcard2 button p{
        margin-top: 7px;
    }
    .leftcard2-2{
        max-width:300px ;
    }
    .leftcard2-2 button{
        margin-left: 10%;
    }
    .leftcard2-2 button p{
        margin-top: 7px;
    }
    
       .leftcard1 img{
        max-width: 300px;
        border-radius: 20px;
        margin-right:0px;
        margin-top: 35px;
    
       }
    .explain{
        padding-top: 30px;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    } 
    .buttonend{
        display: flex;
        border: none;
        background-color: rgb(248, 241, 241);
        box-shadow: 7px 7px 5px  rgb(245, 243, 243),-5px -5px 7px  rgb(239, 236, 236),-5px 5px 7px  rgb(226, 225, 225),5px -5px 7px  rgb(245, 243, 243);
        border-radius: 30px;
    }
    .buttonend a{
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color:orange;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        padding: 10px;
        padding-left: 50px;
    }
    .buttonend p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        color:rgb(88, 87, 87);
        font-weight: 400;
        justify-content: center;
        align-items: center;
       padding-top: 5px;
        padding-right: 60px;
    }
    .hidegrid{
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto ;
        margin-top: 50px;
        display: none;
    }
    #hidecard{
        display: none;
    }
    .newcard{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    #loadmore{
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background: linear-gradient(to right, rgb(37, 66, 37), rgb(95, 152, 95));
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    }
    .lastsection{
       display: flex;
       justify-content: center;
       margin-top: 200px;
       
    }
    .lastsectionmanage{
        width: 78%;
        background-color: rgb(244, 242, 242) ;
        border-radius: 30px;
        position: relative;
        padding: 120px;
    }
    #pencil{
        position: absolute;
        top: 15px;
        left: 45%;
        max-width: 100px;
    }
    #sign{
        position: absolute;
        left: 47%;
        top: 10%;
        max-width: 140px;
    }
    #person{
        position: absolute;
        top: -10%;
        left: 10%;
        right: 350px;
        max-width: 250px;
    }
    #radio{
        position: absolute;
        bottom: -100px;
        right: 30%;
        max-width: 100px;
       
    }
    #hand{
        position: absolute;
        right: 20px;
        bottom: 50px;
        max-width: 100px;
    }
    .lastsectionflex{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
       align-items: center;
       gap: 30px;
       
    }
    .lastsectionleft{
        /* margin-left: 40px; */
    }
    .lastsectionright{
      /* margin-right: 40px; */
      margin-bottom: 200px;
    }
    .lastsectionp1{
       
       
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 1px 1px 2px  orange ;
       font-size: 20px;
       color: rgb(39, 42, 40);
       font-weight: 500;
       margin-bottom: 20px;
       }
    .lastsectionp2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .lastsectionp3{
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(91, 103, 130);
        margin-bottom: 25px;
    }
    .lastsectionbutton{
        padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background: linear-gradient(to right, rgb(37, 66, 37), rgb(121, 173, 121));
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    }
    .lastsectionp1-1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        margin-bottom: 40px;
        padding-left: 10px;
    }.lastsectionp2-2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        font-weight: 800;
       padding-left: 10px;
        margin-top: 25px;
        padding-bottom: 20px;
        border-bottom: solid rgb(181, 179, 179);border-width: 1px;
    }
    .lastsectionp3-3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: rgb(33, 33, 33);
        margin-bottom: 30px;
    }
    .lastsectionbutton2{
        border: none;
    background: linear-gradient(to right, rgb(37, 66, 37), rgb(121, 173, 121));
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    position: absolute;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 50px;
    right: 100px;
    
    }
    .lastsectionbutton2 i{
       color: white; 
         font-size: 20px; 
        margin-left: 40px;
        margin-right: 20px;
    }
    .footer{
        margin-top: 150px;
       
    }
    .footerlogo{
        max-width: 430px;
    }
    .footerlogo img{
    max-width: 200px;
    width: 100%;
    margin-bottom: 30px;
    }
    .footerlogo p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(93, 107, 133);
        font-weight: 500;
        font-size: 17px;
    }
    .footerline{
        margin-bottom: 30px;
        border-top: solid rgb(198, 203, 231);
        border-width: 1px;
        margin-top: 80px;
    }
    .footerlogos{
        flex-direction: column-reverse;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .footerleft p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(93, 107, 133);
        color: rgb(93, 107, 133);
        font-weight: 500;
        font-size: 17px;
    }
    .footermiddle img{
       width: 20px;
       margin-left: 30px;
       
    }
    .footerright{
        display: flex;   
    }
    .footerright p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(93, 107, 133);
    color: rgb(93, 107, 133);
    font-weight: 500;
    font-size: 17px;
    margin-left: 30px;
    }
}

@media(min-width:480px) and (max-width:1200px){
    #optionbutton{
        font-size: 30px;
        display: none;
        margin-top: 10px;
    }
    .optionsresponsive{
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color:white;
        display: none;
        
    }
    #removebar{
        position: absolute;
        right: 140px;
        top: 3%;
        font-size: 40px;
        color: red;  
        border: solid red; 
        border-radius: 50px; 
        background-color: rgb(224, 217, 217);
    }
    .optionsresponsive ul{
        position: absolute;
        top: 10%;
        left:50%;
        right: 50%;
        margin-top: 40px;
       
    }
    .optionsresponsive ul li{
        list-style: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;   
    }
    .optionsresponsive ul li a{
        text-decoration: none;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        color:black;
        border-bottom: solid rgb(135, 134, 132);

    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        
    }
    .left{
        display: flex;
        justify-content: space-between;
    }
    .left img{
        max-width: 250px;
        height: 100px;
    }
    .middle{
     
    }
    .middle ul{
      flex-direction: column;
        margin-left: 50px;
        margin-top: 20px;
        gap: 30px;
    }
    .middle ul li{
        list-style: none;
        padding-left: 50px;
    }
    .middle ul li a{
        text-decoration: none;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: rgb(67, 88, 137);
    }
    .right button{
        margin-top: 30px;
        height: 35px;
        width: 100px;
        background: linear-gradient(to right, #feb73c, #fd951e);
        border: none;
        border-radius: 30px;
        
       }
       .right button a{
        text-decoration: none;
        color: white;
        font-size: 17px;
        font-weight: 500;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
       .right i{
        font-size: 19px;
        color: white;
        margin-right: 10px;
       }
       .card{
        display: grid;
        grid-template-columns: auto auto ;
        text-align: center;
        margin-top: 100px;
        
       }
       .leftcard{
        flex-direction: column;
        max-width: 300px;
        gap: 20px;
       }
       
       .button{
        display: flex;
        border: none;
        background-color: rgb(248, 241, 241);
        box-shadow: 7px 7px 5px  rgb(245, 243, 243),-5px -5px 7px  rgb(239, 236, 236),-5px 5px 7px  rgb(226, 225, 225),5px -5px 7px  rgb(245, 243, 243);
        border-radius: 30px;
        
        }
    .button a{
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color:orange;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-left: 30px;
    }
    .button p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        color:rgb(88, 87, 87);
        font-weight: 400;
        justify-content: center;
        align-items: center;
       padding-top: 10px;
        padding-right: 30px;
    }
    .leftcard2{
        text-align: center;
        text-wrap: wrap;
        max-width: 300px;
    }
    .leftcard2 button{
        max-width: 300px;
        margin-left: 10%;
       
    }
    .leftcard2 button p{
        margin-top: 7px;
    }
    .leftcard2-2{
        max-width:300px ;
    }
    .leftcard2-2 button{
        margin-left: 10%;
    }
    .leftcard2-2 button p{
        margin-top: 7px;
    }
    
       .leftcard1 img{
        max-width: 300px;
        border-radius: 20px;
        margin-right:0px;
        margin-top: 35px;
    
       }
    .explain{
        padding-top: 30px;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    } 
    .buttonend{
        display: flex;
        border: none;
        background-color: rgb(248, 241, 241);
        box-shadow: 7px 7px 5px  rgb(245, 243, 243),-5px -5px 7px  rgb(239, 236, 236),-5px 5px 7px  rgb(226, 225, 225),5px -5px 7px  rgb(245, 243, 243);
        border-radius: 30px;
    }
    .buttonend a{
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color:orange;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        padding: 10px;
        padding-left: 50px;
    }
    .buttonend p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        color:rgb(88, 87, 87);
        font-weight: 400;
        justify-content: center;
        align-items: center;
       padding-top: 5px;
        padding-right: 60px;
    }
    .hidegrid{
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto ;
        margin-top: 50px;
        display: none;
    }
    #hidecard{
        display: none;
    }
    .newcard{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    #loadmore{
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background: linear-gradient(to right, rgb(37, 66, 37), rgb(95, 152, 95));
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    }
    .lastsection{
       display: flex;
       justify-content: center;
       margin-top: 200px;
       
    }
    .lastsectionmanage{
        width: 80%;
        background-color: rgb(244, 242, 242) ;
        border-radius: 30px;
        position: relative;
        padding: 120px;
    }
    #pencil{
        position: absolute;
        top: 15px;
        left: 45%;
        max-width: 150px;
    }
    #sign{
        position: absolute;
        left: 47%;
        top: 10%;
        max-width: 180px;
    }
    #person{
        position: absolute;
        top: -10%;
        left: 10%;
        right: 350px;
        max-width: 450px;
    }
    #radio{
        position: absolute;
        bottom: -100px;
        right: 30%;
        max-width: 150px;
       
    }
    #hand{
        position: absolute;
        right: 20px;
        bottom: 50px;
        max-width: 100px;
    }
    .lastsectionflex{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
       align-items: center;
       gap: 30px;
       
    }
    .lastsectionleft{
        /* margin-left: 40px; */
    }
    .lastsectionright{
      /* margin-right: 40px; */
      margin-bottom: 200px;
    }
    .lastsectionp1{
       
       
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 1px 1px 2px  orange ;
       font-size: 20px;
       color: rgb(39, 42, 40);
       font-weight: 500;
       margin-bottom: 20px;
       }
    .lastsectionp2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .lastsectionp3{
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(91, 103, 130);
        margin-bottom: 25px;
    }
    .lastsectionbutton{
        padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background: linear-gradient(to right, rgb(37, 66, 37), rgb(121, 173, 121));
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    }
    .lastsectionp1-1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        margin-bottom: 40px;
        padding-left: 10px;
    }.lastsectionp2-2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        font-weight: 800;
       padding-left: 10px;
        margin-top: 25px;
        padding-bottom: 20px;
        border-bottom: solid rgb(181, 179, 179);border-width: 1px;
    }
    .lastsectionp3-3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: rgb(33, 33, 33);
        margin-bottom: 30px;
    }
    .lastsectionbutton2{
        border: none;
    background: linear-gradient(to right, rgb(37, 66, 37), rgb(121, 173, 121));
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    position: absolute;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 50px;
    right: 100px;
    
    }
    .lastsectionbutton2 i{
       color: white; 
         font-size: 20px; 
        margin-left: 40px;
        margin-right: 20px;
    }
    .footer{
        margin-top: 150px;
       
    }
    .footerlogo{
        max-width: 700px;
    }
    .footerlogo img{
    max-width: 200px;
    width: 100%;
    margin-bottom: 30px;
    }
    .footerlogo p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(93, 107, 133);
        font-weight: 500;
        font-size: 34px;
    }
    .footerline{
        margin-bottom: 30px;
        border-top: solid rgb(198, 203, 231);
        border-width: 1px;
        margin-top: 80px;
    }
    .footerlogos{
        
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .footerleft p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(93, 107, 133);
        color: rgb(93, 107, 133);
        font-weight: 500;
        font-size: 17px;
    }
    .footermiddle img{
       width: 20px;
       margin-left: 30px;
       
    }
    .footerright{
        display: flex;   
    }
    .footerright p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(93, 107, 133);
    color: rgb(93, 107, 133);
    font-weight: 500;
    font-size: 17px;
    margin-left: 30px;
    }
}

